@import "../../App/App.scss";

.Content {
    height: 100%;
    width: 160%;
    padding: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    background: rgba($color-grey, 0.9);
    border-radius: 2vw;
    box-shadow: 0 0 0.5vw 0.25vw rgba($color-grey, 0.9);
    
}
.photoBox {
    width: 48%;
    height: auto;
    max-width: 25vw;
    margin: auto;
    position: relative;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-content: center;
   
}
.photo {
    width: 100%;
    height: auto;
    border-radius: 1vw;
}
.description {
    width: 48%;
    height: 100%;
    gap: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: start;
}
.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: start;
}
