@import "../../App/App.scss";

.header {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    height: 6vw;
    background: rgba($color-grey, 0.75);
    box-shadow: 0 0 0.5vw 0.25vw $color-white;
    transition: $hover-animation;
    border-bottom: 1px solid $color-white;
    &:hover {
        box-shadow: 0 0 1vw 0.5vw $color-full-white;
        transition: $hover-animation;
        border-bottom: 1px solid $color-full-white;
        background: rgba($color-grey, 1);
    }
    @media (min-width: 1441px) {
        height: 4vw;
    }
}
.contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    color: $color-white
    
}
